numerico
    color
    top
    left
    Nooo
        display->no es optimo

https://javascript.info/
https://developer.mozilla.org/es/docs/Web/API/window/requestAnimationFrame
https://angular.io/guide/animations

en la medida de lo posible crear animation con css

y cambiar solo las propiedades numericas
